@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #fff;
    --red-elements: #F44336;
    --black-element: #000000;
    --grey-elementt: #afafaf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: unset;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    

}

 .rps-navbar{
    display: none;
}

.logo {
    flex: .5;
    color: #F44336;
    text-align: center;
}

.logo a {
    font-size: 2rem;
}

.nav-bar {
    position: relative;
    flex: 1;
    text-align: center;
    
}

.nav-bar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-element);
    margin-left: 1rem;
    padding: .5rem;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}

.nav-bar a.active {
    background: var(--black-element);
}

.nav-bar a:hover,
.nav-bar a.active {
    color: var(--bg-color);
    background: var(--black-element);

}




.input-container {
    flex: 2;
    position: relative;
    text-align: center;
}

.input-container input {
    width: 90%;
    padding: .5rem;
    border-radius: 9999px;

}

.input-container i {
    font-size: 1.2rem;
    position: absolute;
    inset-inline-end: 1.5rem;
    inset-block-start: .3rem;
}

.log-in {
    display: flex;
    justify-content: center;
    /* padding-top: .2rem; */
    flex: .3;
    position: relative;
    gap: 8px;

}

.log-in a {
   font-size: 1.2rem;
}



.home {
    width: 100vw;
    margin: 20px 0;
    columns: 4;
    column-gap: 10px;
    padding: 4rem 2rem;


}

.home .cart-box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.home .cart-box-video{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.hidden {
    opacity: 0;
    filter: blur(0);
    transform: translateY(-50%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.home .cart-box img {
    max-width: 100%;
    border-radius: 15px;
}

.home .cart-box h3 {
    max-width: 100px;
    margin: 0;
    padding: .6rem;
    border-radius: 20px;
    background: var(--red-elements);
    color: var(--bg-color);
    position: absolute;
    inset-inline-end: 1rem;
    inset-block-start: 1rem;
}

.home .cart-box .op-container {
    max-width: 50px;
    position: absolute;
    inset-inline-end: 1.3rem;
    inset-block-end: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.home .cart-box .op-container a {
    padding: .1rem;
    border-radius: 50%;
    background: var(--bg-color);
    color: var(--black-element);
    font-size: 1.5rem;

}

.cart-box .overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.cart-box:hover .overlay {
    background: #00000083;
    opacity: 1;
    border-radius: 15px;
}

.home .cart-box-video video{
    max-width: 100%;
    border-radius: 15px;
}

.home .cart-box-video a{
    max-width: 200px;
    font-size: 1rem;
    margin: 0;
    padding: .6rem;
    border-radius: 20px;
    background: var(--red-elements);
    color: var(--bg-color);
    position: absolute;
    inset-inline-end: 1rem;
    inset-block-start: 1rem;
    z-index: 1;
}

.cart-box-video .controls-container{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-box-video .controls-container .button{
    inline-size: 40px;
    block-size: 40px;
    border: none;
    cursor: pointer;
}

.button:active{
    transform: scale(.9);
}



#play{
    background: url(./img/play.svg) no-repeat center;
    
}
#pause{
    background: url(./img/pause.svg) no-repeat center;
}


.cart-box-video .overlay-video{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.cart-box-video:hover .overlay-video{
    background: #00000083;
    opacity: 1;
    border-radius: 15px;
}


@media (max-width:1200px) {
.home{
    width: calc(100% - 40px);
    columns:3 ;
}
}

@media (max-width:900px){
    .header .nav-bar a{
        margin-left: 0;
    }
}

@media (max-width:760px){
    .header{
        position: fixed;
        bottom: 0;
        z-index: 1;
    }

    .logo{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .input-container{
        display: none;
    }
    .log-in{
        display: none;
    }

    .header .rps-navbar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        color: var(--black-element);
    }
    .rps-navbar a{
        color: var(--black-element);
        font-size: 2rem;
    }

    .home{
        padding: 0 2rem 4rem;
        columns: 2;
    }
}

@media (max-width:480px) {
    .home{
     
        columns:1 ;
    }
    }
